@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply no-scrollbar
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .btn {
        @apply py-2.5 px-8 text-xl
    }

    .btn-primary {
        @apply block w-full rounded border border-color-primary bg-color-primary px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto transition-all tracking-wider
    }

    .btn-secondary {
        @apply block w-full rounded border border-color-primary px-12 py-3 text-sm font-medium text-white hover:bg-color-primary focus:outline-none focus:ring active:bg-color-primary sm:w-auto transition-all tracking-wider
    }
}